<div class="recipe-background">
  <div class="recipe-container">

    <h3> <%= @recipe.title %> </h3>

    <br>

    <section id = "recipe_rating">
      <h5>Rate this recipe:</h5>
      <% 5.times do |i| %>
        <% if i < @recipe.rating %>
          <a href="/recipes/<%= @recipe.id %>/rate/<%= i+1 %>"><i class="fa fa-star"></i></a>
        <% else %>
          <a href="/recipes/<%= @recipe.id %>/rate/<%= i+1 %>"><i class="fa fa-star-o"></i></a>
        <% end %>
      <% end %>
    </section>

    <br>

    <section id="recipe_ingredients">
    <h5>Ingredients</h5>
      <% if @recipe.ingredients.any? %>
        <ul>
          <% @recipe.ingredients.each() do |ingredient| %>
            <li><%= ingredient.name %> </li>
          <% end %>
        </ul>
      <% else %>
        No ingredients listed yet for this recipe.
      <% end %>
    </section>

    <br>

    <section id = "recipe_instructions">
      <h5>Instructions</h5>
      <%= @recipe.instructions %>
    </section>

    <br>

    <a class="btn btn-med btn-warning" href="/recipes/<%= @recipe.id %>/edit">Edit this recipe</a>
    <br>

    <a href="/">Return to Main Page</a>

  </div>
</div>
